<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.reverseEngineering.dao.TAlarmKeyMapper">
  <resultMap id="BaseResultMap" type="com.exercise.reverseEngineering.entity.TAlarmKey">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="alarm_key" jdbcType="VARCHAR" property="alarmKey" />
    <result column="alarm_value" jdbcType="VARCHAR" property="alarmValue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_alarm_key
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exercise.reverseEngineering.entity.TAlarmKey">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_alarm_key (id, type, alarm_key, 
      alarm_value, remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{alarmKey,jdbcType=VARCHAR}, 
      #{alarmValue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.exercise.reverseEngineering.entity.TAlarmKey">
    update t_alarm_key
    set type = #{type,jdbcType=VARCHAR},
      alarm_key = #{alarmKey,jdbcType=VARCHAR},
      alarm_value = #{alarmValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, alarm_key, alarm_value, remark
    from t_alarm_key
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, alarm_key, alarm_value, remark
    from t_alarm_key
  </select>
  <resultMap id="BaseResultMap" type="com.exercise.reverseEngineering.entity.TAlarmKey">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="alarm_key" jdbcType="VARCHAR" property="alarmKey" />
    <result column="alarm_value" jdbcType="VARCHAR" property="alarmValue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_alarm_key
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exercise.reverseEngineering.entity.TAlarmKey">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_alarm_key (id, type, alarm_key, 
      alarm_value, remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{alarmKey,jdbcType=VARCHAR}, 
      #{alarmValue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.exercise.reverseEngineering.entity.TAlarmKey">
    update t_alarm_key
    set type = #{type,jdbcType=VARCHAR},
      alarm_key = #{alarmKey,jdbcType=VARCHAR},
      alarm_value = #{alarmValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, alarm_key, alarm_value, remark
    from t_alarm_key
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, alarm_key, alarm_value, remark
    from t_alarm_key
  </select>
</mapper>